{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
    <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" 
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" 
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>
    <title>LODReranker</title>
</head>

<body>
    <main class="main container-fluid p-0">
        <!-- header -->
        <div class="header row w-100 flex-nowrap p-3 mb-4 bg-dark shadow">
            <div class="col p-0 my-auto">
            <a class='nav-link p-0' href='/'>
                <h1 class="text-white m-0"><code class="text-danger">[ML-SII]</code> LOD Reranker</h1>
            </a>
            </div>

            <div class="header__buttons col p-0 my-auto d-flex flex-nowrap">
                {% if user.is_authenticated %}
                <div class="text-white text-right mx-2 my-auto" style="min-width: 200px">Hello, <i>{{ user.username }}</i></div>
                <a class="btn btn-danger mx-2 my-auto" href="{% url 'logout' %}">Logout</a>
                {% else %}
                <a class="btn btn-info mx-2 my-auto" href="{% url 'login' %}">Login</a>
                <a class="btn btn-success mx-2 my-auto" href="{% url 'signup' %}">Sign up</a>
                {% endif %}
                <a class="btn btn-outline-secondary mx-2 my-auto" href="{% url 'admin:index' %}">Admin</a>
            </div>
        </div>

        <!-- content -->
        <div class="content">
            <h4 class="text-dark text-center mb-3">{% block title %}{% endblock %}</h4>
            <div class="card p-4 mb-5 shadow-sm mx-3">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    
        <!-- footer -->
        <div class="footer row w-100 m-0 bg-dark shadow">
            <div class="col-12 p-4 text-center text-white">
                <i>©2019 Marco Bellocchi, Lorenzo Guidaldi, Giorgia Marini.</i>
            </div>
        </div>
    </main>

    <script type="text/javascript">
        // if (window.location.hash == '#_=_') {
        //    window.location.hash = '';
        //}
    </script>
</body>
</html>