{% extends 'base.html' %}
{% block title %} Welcome! {% endblock %}
{% block content %}
    <div class="row mb-3">
        <div class="col-sm-8 mx-auto text-center">
            {% if user.is_authenticated %}
            <p> View your profile <a href="{% url 'profile' %}">here</a>.</p>
            {% else %}
            Please login or create an account.
            {% endif %}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-8 mx-auto text-center social-container">
        {% if user.has_movies %}
            <a class="btn btn-success p-3" href="{% url 'recommendation' %}">Start</a>
        {% endif %}
        </div>
    </div>
{% endblock %}