{% extends 'base.html' %}
{% block title %} Your profile {% endblock %}
{% block content %}
    <div class="row my-auto mb-3">
        <div class="col-sm-8 mx-auto">
            <p>Hello <i>{{user.username}}</i>, have you completed all the registration steps?</p>
            <ul class="list-unstyled">
            <li><span class="fa fa-{% if user.has_social_connect %}check text-success{% else %}times text-danger{% endif %}"></span> Connected to Facebook
                {% if user.has_social_connect %}<span> <a href="{% url 'social_disconnect' %}">(disconnect)</a></span>{% endif %}</li>
            <li><span class="fa fa-{% if user.has_social_data %}check text-success{% else %}times text-danger{% endif %}"></span> Collected Facebook likes
                {% if user.has_social_data %}{% endif %}</li>
            <li><span class="fa fa-{% if user.has_demographic %}check text-success{% else %}times text-danger{% endif %}"></span> Compiled demographic form
                {% if user.has_demographic %}<span> <a href="{% url 'signup_s2' %}">(edit)</a></span>{% endif %}</li>
            {% comment %} <li><span class="fa fa-{% if user.has_poivector %}check text-success{% else %}times text-danger{% endif %}"></span> Compiled images form
                {% if user.has_poivector %}<span> <a href="{% url 'signup_s3' %}">(repeat)</a></span>{% endif %} {% endcomment %}
            <li><span class="fa fa-{% if user.has_movies %}check text-success{% else %}times text-danger{% endif %}"></span> Compiled movies form
                {% if user.has_movies %}<span> <a href="{% url 'signup_s4' %}">(repeat)</a></span>{% endif %}
            <li><span class="fa fa-{% if user.has_books %}check text-success{% else %}times text-danger{% endif %}"></span> Compiled books form
                {% if user.has_books %}<span> <a href="{% url 'signup_s5' %}">(repeat)</a></span>{% endif %}
            <li><span class="fa fa-{% if user.has_artists %}check text-success{% else %}times text-danger{% endif %}"></span> Compiled artists form
                {% if user.has_artists %}<span> <a href="{% url 'signup_s6' %}">(repeat)</a></span>{% endif %}
            </li>
            </ul>
            <div class="d-flex flex-column align-items-center">
                {% if not user.completed %}
                <a class="btn btn-block btn-outline-primary w-75 my-3 p-3 border border-primary rounded" href="{% url 'resume' %}">Click here to resume your registration.</a>
                {% else %}
                You're good to go! Now you can use the recommendation system.
                <a class="btn btn-block btn-info w-50 my-3 p-3" href="{% url 'home' %}">Back to Home</a>
                {% endif %}
                {% if user.has_social_connect or user.has_demographic or user.has_movies or user.has_books or user.has_artists %}
                <a class="btn btn-block btn-outline-danger w-25 mb-3" href="{% url 'reset' %}">Reset all data</a>
                {% endif %}
            </div>
        </div>
    </div>

    {% if user.has_social_data %}
    <div class="mt-5 mb-3 border rounded">
        <div class="mx-auto p-2 bg-warning text-white text-center text-uppercase small">Retrieved items from social</div>
        <div class ="row-sm-12 p-3 text-left bg-light">
            <p><b>Movies</b></p>
            <p><textarea class="query-content">{{ movies|join:"&#10;" }}</textarea></p>
        </div>
        <div class ="row-sm-12 p-3 text-left bg-light">
            <p><b>Books</b></p>
            <p><textarea class="query-content">{{ books|join:"&#10;" }}</textarea></p>
        </div>
        <div class ="row-sm-12 p-3 text-left bg-light">
            <p><b>Artists</b></p>
            <p><textarea class="query-content">{{ artists|join:"&#10;" }}</textarea></p>
        </div>
    </div>
    {% endif %}


    {% for data in backends.associated %}
        {% if data.provider == "facebook" %}
        <div class="mt-5 mb-3 border rounded">
            <div class="mx-auto p-2 bg-primary text-white text-center text-uppercase small">Raw facebook data</div>
            <div class="row mx-auto p-2 flex-nowrap bg-light">
                <div class="mx-auto my-auto">
                    <img class="profilepic img-fluid" src="{{data.extra_data.picture.data.url}}" alt="" width="100" height="100" style="border-radius: 10%">
                </div>
                <div class="col-md-9 social-container text-left">
                    <p> <b>Name:</b> {{ data.extra_data.name }} </p>
                    <p> <b>Email:</b> {{ data.extra_data.email }} </p>
                    <p> <b>Provider url:</b> <a href="{{data.extra_data.profile_url}}">link</a></p>
                    <p><a class="btn btn-outline-primary" href="{% url 'social_disconnect' %}">Disconnect</a></p>
                </div>
            </div>
            {% for key, value in data.extra_data.items %}
            {% if forloop.counter >= 10 and forloop.counter <= 12 %}
            <div class ="row-sm-12 p-3 text-left bg-light">
                <p><b>{{ key }}</b></p>
                <p><textarea class="query-content">{{ value }}</textarea></p>
            </div>
            {% endif %}
            {% endfor %}
            </div>
        </div>
        {% endif %}
    {% endfor %}
{% endblock %}