{% extends 'base.html' %}
{% block title %} Your profile {% endblock %}
{% block content %}
    <div class="row my-auto mb-3">
        <div class="col-sm-8 mx-auto">
            <p>Hello <i>{{user.username}}</i>, have you completed all the registration steps?</p>
            <ol>
            <li>Connected to Facebook: <span class="fa fa-{% if user.has_social_connect %}check text-success{% else %}times text-danger{% endif %}"></span>
                {% if user.has_social_connect %}<span> <a href="{% url 'social_disconnect' %}">(disconnect)</a></span>{% endif %}</li>
            <li>Compiled demographic form: <span class="fa fa-{% if user.has_demographic %}check text-success{% else %}times text-danger{% endif %}"></span>
                {% if user.has_demographic %}<span> <a href="{% url 'signup_s2' %}">(edit)</a></span>{% endif %}</li>
            <li>Compiled images form: <span class="fa fa-{% if user.has_poivector %}check text-success{% else %}times text-danger{% endif %}"></span>
                {% if user.has_poivector %}<span> <a href="{% url 'signup_s3' %}">(repeat)</a></span>{% endif %}
            <li>Compiled movies form: <span class="fa fa-{% if user.has_movies %}check text-success{% else %}times text-danger{% endif %}"></span>
                {% if user.has_poivector %}<span> <a href="{% url 'signup_s4' %}">(repeat)</a></span>{% endif %}
            </li>           
            </ol>
            <p>
            {% if not user.has_social_connect or not user.has_demographic or not user.has_poivector or not user.has_movies %}
            Please resume your registration <a href ="{% url 'resume' %}">here</a>.
            {% else %}
            You're good to go!
            {% endif %}
            </p>
            {% if user.has_social_connect or user.has_demographic or user.has_poivector or user.has_movies  %}
            <a class="btn btn-outline-danger" href="{% url 'reset' %}">Reset all</a>
            {% endif %}
        </div>
    </div>

    {% for data in backends.associated %}
        {% if data.provider == "facebook" %}
        <div class="mt-5 mb-3 border rounded">
            <div class="mx-auto p-2 bg-primary text-white text-center text-uppercase small">Facebook data</div>
            <div class="row mx-auto p-2 flex-nowrap bg-light">
                <div class="mx-auto my-auto">
                    <img class="profilepic img-fluid" src="{{data.extra_data.picture.data.url}}" alt="" width="100" height="100" style="border-radius: 10%">
                </div>
                <div class="col-md-9 social-container text-left">
                    <p> <b>Name:</b> {{ data.extra_data.name }} </p>
                    <p> <b>Email:</b> {{ data.extra_data.email }} </p>
                    <p> <b>Provider url:</b> <a href="{{data.extra_data.profile_url}}">link</a></p>
                    <p><a class="btn btn-outline-primary" href="{% url 'social_disconnect' %}">Disconnect</a></p>
                </div>
            </div>
            {% for key, value in data.extra_data.items %}
            {% if forloop.counter >= 14 and forloop.counter <= 16 %}
            <div class ="row-sm-12 p-3 text-left bg-light">
                <p><b>{{ key }}</b></p>
                <p><textarea class="query-content">{{ value }}</textarea></p>
            </div>
            {% endif %}
            {% endfor %}
            </div>   
        </div>
        {% endif %}
    {% endfor %}
{% endblock %}