{% extends 'base.html' %}
{% load static %}
{% block title %} {% endblock %} 
{% block content %}
<div class="row mb-3 mx-2">
    <div class="my-auto pl-0 mr-3">Select the area you would like to visit.<br><strong>Click</strong> on the map or <strong>drag</strong> the marker to move it.</div>
    <div class="col-sm-2 slidercontainer my-auto">
        <input type="range" id="slider" class="slider" min="1" max="10" step="1" oninput="getRadius()"/>
    </div>
    <div class="my-auto p-0 mr-4 text-nowrap" style="width: 140px">
        radius: <label class="my-auto" for="slider" id="sliderLabel"></label> km
    </div>
    <div id="status" class="my-auto alert collapse" role="alert"></div>
</div>
<div class="row mb-3 mx-2">
    {% comment %} The Map {% endcomment %}
    <div class="col-md-12" id="map"></div>
</div>
<div class="row mb-3 mx-2">
    <div class="col-sm-3 mx-auto text-center">
        <form method="post" action="{% url 'recommendation_result' %}" novalidate>
        {% csrf_token %}
        <input type="hidden" id="lat" name="latitude"/>
        <input type="hidden" id="lng" name="longitude"/>
        <input type="hidden" id="rad" name="radius"/>
        <button type="submit" class="btn btn-block btn-success py-2">Recommend me something!</button>
    </div>
</div>

{% for item in ranked_items %}
    {{forloop.counter}} - {{item}}<br>
{% endfor %}

<script src="{% static 'js/map.js' %}"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_KEY }}&libraries=places&callback=init" type="text/javascript"></script>
{% endblock %}