{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} {% endblock %} 
{% block content %}

<div class="row mb-3 mx-2">
    <div class="my-auto pl-0 mr-3">Select the area you would like to visit.<br><strong>Click</strong> on the map or <strong>drag</strong> the marker to move it.</div>
    <div class="col-sm-2 slidercontainer my-auto">
        <input type="range" id="slider" class="slider" name="cowbell" min="1" max="10" step="1" oninput="getRadius()"/>
    </div>
    <div class="my-auto p-0 mr-5">
        radius: <label class="my-auto" for="slider" id="sliderLabel"></label> km
    </div>
    <div class="my-auto alert alert-success" role="alert">We have placed you on the map based on your geolocation.</div>
</div>
<div class="row mb-3 mx-2">
    <div class="col-md-12" id="map"></div>
</div>

{% comment %} <div class="row mb-1 mx-2">
</div> {% endcomment %}

<div class="row mb-3 mx-2">
    <div class="col-sm-8 mx-auto text-center">
        <p><a class="btn btn-success" href="{% url 'recommendation_result' %}">Recommend me something!</a></p>
    </div>
</div>

<script type="text/javascript">
    var map, initialLocation;
    var marker, circle;
    var currentLat, currentLng, currentRad;

    function getRadius() {
        newVal = $("#slider").val();
        $('#sliderLabel').text(newVal);
        updateCircle(newVal * 1000);
    }

    function updateCircle(radius) {
        if (circle == undefined) {
            circle = new google.maps.Circle({
                map: map,
                radius: radius,
                strokeColor: '#EA4335',
                strokeOpacity: 1,
                strokeWeight: 2,
                fillColor: '#EA4335',
                fillOpacity: 0.2
            });
            circle.bindTo('center', marker, 'position');
            marker.circle = circle;
        } else {
            circle.setRadius(radius);
        }
        currentRad = radius;
        info();
    }
    
    function updateMarker(latLng) {
        if (marker == undefined) {
            marker = new google.maps.Marker({
                center: latLng,
                position: latLng,
                map: map,
                draggable: true,
                animation: google.maps.Animation.DROP,
                scrollwheel: true
            });
        }
        else {
            marker.setPosition(latLng);
            infoWindow.close()
        }
        map.panTo(latLng);
        currentLat = latLng.lat;
        currentLng = latLng.lng;
        info();
    }

    function info() {
        console.log(
            'Lat: ' + currentLat + ',' + 
            'Lng: ' + currentLng + ',' +
            'Rad: ' + currentRad);
    }

    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
            'Error: The Geolocation service failed.' :
            'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
    }
    
    function init() {
        // var rome = new google.maps.LatLng(41.9100711, 12.5359979);
        var initialRadius = 5;
        $('#slider').val(initialRadius);
        $('#sliderLabel').text(initialRadius);
        currentRad = initialRadius * 1000;

        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 12, 
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            clickableIcons: false,
        });
        infoWindow = new google.maps.InfoWindow;

        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                
                var latLng = {
                    lat: position.coords.latitude, 
                    lng: position.coords.longitude
                };
                
                map.setCenter(latLng);
                updateMarker(latLng);
                updateCircle(currentRad);
                infoWindow.setPosition(latLng);
                infoWindow.setContent('You are here.');
                infoWindow.open(map, marker);

                marker.addListener('dragend', function() { 
                    infoWindow.close()
                });
    
                google.maps.event.addListener(map, 'click', function(event) { 
                    handlePositionEvent(event.latLng); 
                });

                google.maps.event.addListener(marker, 'dragstart', function(event) {
                });

                google.maps.event.addListener(marker, 'dragend', function(event) {
                    handlePositionEvent(event.latLng); 
                });

                
                function handlePositionEvent(latLng) {
                    var latLngObj = {
                        lat: latLng.lat(), 
                        lng: latLng.lng()
                    }
                    updateMarker(latLngObj);
                }

            }, function() {
                handleLocationError(true, infoWindow, map.getCenter());
            });
        } else {
            handleLocationError(false, infoWindow, map.getCenter());
        }
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_KEY }}&libraries=places&callback=init" type="text/javascript"></script>
{% endblock %}